<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script type="text/javascript" defer>

    function caller() {
        ajax(window.location.search.substring(1))
    }

    function ajax(params) {        
        let data = JSON.stringify({ p1: "v1" })
        // let jj = "{\"p1\":\"v1\"}"
        
        $('#input').text(data)
        $.ajax({
            url: "/postjson",
            crossDomain: true,
            type: "POST",
            data: data,
            contentType: "application/json"
        }).done(function (result) {
            $('#result').text(result)
        })
    }

    $(document).ready(function () {
        console.log('document is ready')
        caller();
    });

    </script>

</head>
<body>
    <div id="input"></div>
    <div id="result"></div>
</body>
</html>